 
* {
  box-sizing: border-box;
}

body {
	background-color: #16697a;
	text-align: center;
	margin: 0px;
	padding: 5em;
	font-family: Helvetica, Arial;
}


h1 {
  /*padding: 1em;*/
	color: #ffa372;
	/*font-size: 4.5em;*/
}


p {
  padding: 1em
	/* color: #ed6663; 
	font-size: 9.5em;*/
}

button {
	color: black;
  border: 0px solid;
	background-color: #ff1a1a;
	font-size: 1.5em /*3.5vw*/;
	border-radius: 14px;
	width : 50%;
	text-align: center;
  padding: 10px;
  box-shadow: 3px 3px 4px black;
}

.questions {
  padding-bottom: 1em;
}

button:hover {background-color: #e60000;}

.dropdown {
  font-size: 1em;
  border-radius: 6px;
  width : 30%;
  text-align: center;
  padding: 10px;
}


#tableau {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 30px;
  text-align: center;
  border-radius: 5px;
}

#tableau td, #tableau th {
  border: 5px solid #ddd;
  padding: 8px;
}

#tableau tr:nth-child(even){background-color: #f2f2f2;}
#tableau tr:nth-child(odd){background-color: #f2f2f2;}

#tableau tr:hover {background-color: #a9a9a9;}

#tableau th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff1a1a;
  color: white;
}

.result {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout:none;
}



/* THIS IS DESKTOP VERSION */

@media screen and (min-width: 736px)
{
button {
  color: black;
  background-color: #ff1a1a;
  font-size: 1.7em;
  border-radius: 14px;
  width : 30%;
  text-align: center;
  padding: 5px;
}

.dropdown {
  font-size: 1em;
  border-radius: 6px;
  width : 15%;
  text-align: center;
  padding: 5px;
}

p {
  padding: 1.2em;
  line-height:1.6;
  /*padding-left: 25em
  text-align: center;
   color: #ed6663; 
  font-size: 9.5em;*/
}



}