 
* {
  box-sizing: border-box;
}

body {
	background-color: #16697a;
	text-align: center;
	margin: 0px;
	padding: 5em;
 	touch-action: none;
	font-family: Helvetica, Arial;
}


h1 {
	color: #ffa372;
	/*font-size: 4.5em;*/
}

h2 {
	/* color: #ed6663; 
	font-size: 9.5em;*/
}

button {
	color: black;
	background-color: #ed6663;
	font-size: 3.5vw;
	border-radius: 14px;
	width : 50%;
	text-align: center;
  padding: 5px;
}

button:hover {background-color: #e83935;}

.dropdown {
  font-size: 1vw;
  border-radius: 14px;
  width : 15%;
  text-align: center;
  padding: 5px;
}

#dropdown select {
        width: 140px;
        height: 35px;
        padding: 4px;
        border-radius: 4px;
        box-shadow: 2px 2px 8px #999;
        background: #eee;
        border: none;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
      }
#dropdown      label {
        position: relative;
      }
#dropdown      label:after {
        content: '<>';
        font: 11px "Consolas", monospace;
        color: #666;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 8px;
        top: 2px;
        padding: 0 0 2px;
        border-bottom: 1px solid #ddd;
        position: absolute;
        pointer-events: none;
      }
#dropdown  label:before {
        content: '';
        right: 6px;
        top: 0px;
        width: 20px;
        height: 20px;
        background: #eee;
        position: absolute;
        pointer-events: none;
        display: block;
      }


.checkBox {
  width: 10px;
  height: 10px;
  background: red;
  margin: 10px 10px;
  position: relative;
  border-radius: 5px;
}



#tableau {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 30px;
  text-align: center;
}

#tableau td, #tableau th {
  border: 5px solid #ddd;
  padding: 8px;
}

#tableau tr:nth-child(even){background-color: #f2f2f2;}
#tableau tr:nth-child(odd){background-color: #f2f2f2;}

#tableau tr:hover {background-color: #a9a9a9;}

#tableau th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0a3139;
  color: white;
}


.result {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout:none;
}



/* THIS IS DESKTOP VERSION */

@media screen and (min-width: 736px)
{
button {
  color: black;
  background-color: #ed6663;
  font-size: 2vw;
  border-radius: 14px;
  width : 30%;
  text-align: center;
  padding: 5px;
}
}